.nav-menu {
  background-color: #fffaf1;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  /* color: blue; */
  font-size: 18px;
  color: grey;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  /* background-color: red; */
}
.nav-text a:hover {
  background-color: #ff7779;
  /* background-color: #4200FF; */
}
.nav-menu-items {
  width: 100%;
}

.navbar-header {
  background-color: #fffaf1;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #4200ff;
  margin-top: 20px;
}

.navbar-header h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
}
span {
  margin-left: 16px;
}

.active {
  background-color: #ff7779;
}
