.signup-form {
  /* max-width: 500px; */
  width: 700px;
  height:500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  flex:1;
  /* background-color: #f7f7f7; */
  background-color: #FFFAF1;
  
  /* box-shadow: 0 2px 5px rgba(2, 0, 0, 0.3); */
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  
}

.form-row > * {
  flex: 1;
  margin-right: 10px;
 
}



.button {
  display: block;
  width: 40%;
  height: 40px;
  margin: 0 auto;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #4200FF;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.button[type="submit"]:hover {
  background-color:blueviolet;
}


.selectdiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.selectdiv label {
  font-weight: bold;
  color: #333;
}

.selectdiv select {
  width: 100%;
  height: fit-content;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #F8F7F7;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

.selectdiv select option{
  border-radius: 15px;
}
.selectdiv input{
  background-color: #f8f7f7;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  border: 1px solid #ccc;
}
.selectdiv label{
  display: block;
  font-size: 15px;
  margin-right: 1rem;
  margin-bottom: 3px;
  font-weight: bold;
  color: black;
}

.text {
  margin-top: -35px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.container{

  position: absolute;
width: 605px;
height: 850px;
left: 144px;
top: 130px;
}
.main{
  position: relative;
  height: 100%; 
  width: 60%;
}

/* @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  } */
  .sign-in-text{
    display: flex;
    justify-content: center;
  }
  .sign-in-text p:last-child {
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
    cursor: pointer;
  }
  .date-pick{
    display: flex;
    justify-content:left;
  }
  .success-message {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }