/* FavouriteArticles.module.css */

.reviewForm {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.formTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.ratingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ratingLabel {
  margin-right: 10px;
  font-weight: bold;
}

.starRating {
  display: flex;
}

.star {
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.filled,
.half-filled {
  color: goldenrod;
}

.commentContainer {
  margin-bottom: 20px;
}

.commentLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.commentTextarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4200ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}
