@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.main {
  width: 100%;
  height: auto;
  font-family: "poppins";
  font-weight: 800;
  margin-bottom: 130px;
}
.title {
  text-align: center;
  font-size: 2.985625rem;
  color: #404040;
}
.paragraph {
  text-align: center;
  font-size: 1.154375rem;
  color: #b4b4b4;
  margin-bottom: 3.125rem;
}
@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    font-size: 2.1875rem;
  }
  .paragraph {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 1500px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
