@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.main-card {
  width: 551.57px;
  min-height: 535.93px;
  padding: 41px;
  background-color: white;
  font-family: "poppins";
  font-weight: 800;
  border-radius: 12.69px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-card__img img {
  width: 442.99px;
  height: 238px;
  margin-left: 12px;
}
.main-card__square {
  background-color: #4200ff;
  height: 101.63px;
  width: 466.44px;
  border-radius: 30.4px;
  margin-top: -90.905px;
}
.description {
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 0 25px;
}
.description h2 {
  color: #404040;
  font-size: 20.85px;
  margin-bottom: 10px;
}
.description p {
  font-size: 17.37px;
  color: #404040;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.info p {
  font-size: 16px;
}

.info a {
  text-decoration: none;
  color: #4200ff;
  font-size: 16px;
}

.secondary-card {
  width: 531.59px;
  min-height: 244.08px;
  background-color: white;
  font-family: "poppins";
  font-weight: 800;
  border-radius: 12.69px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 27px 18px;
  display: flex;
  justify-content: space-between;
}
.img-wrapper{
  display: flex;
  align-items: center;
}
.secondary-card__img img {
  width: 183.28px;
  height: 183.28px;
  margin-left: 7px;
}
.secondary-card__square {
  width: 199px;
  height: 94px;
  border-radius: 30.4px;
  background-color: #4200ff;
  margin-top: -85px;
}
.secondary-description {
  padding: 20px 33px;
}
.secondary-description h2 {
  font-size: 15.74px;
  margin-bottom: 11px;
}
.secondary-description p {
  font-size: 13.13px;
  margin-bottom: 30px;
}
.secondary-info {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: -30px;
}
.secondary-info p {
  font-size: 14px;
}
.secondary-info a {
  text-decoration: none;
  font-size: 14px;
}
a,
a:active,
a:focus {
  color: #4200ff !important;
}
@media only screen and (max-width: 600px) {
  .secondary-card {
    width: 220px;
    min-height: 300px;
    display: block;
    padding-bottom: 15px;
  }
  .secondary-card__img img {
    width: 100px;
    height: 100px;
    margin-left: 42px;
  }
  .secondary-card__square {
    width: 130px;
    height: 60px;
    margin-left: 27px;
    border-radius: 20px;
    margin-top: -2.8125rem;
    margin-bottom: 1.5625rem;
  }
  .secondary-description {
    text-align: center;
    padding: 0;
  }
  .secondary-description h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .secondary-description p {
    font-size: 11px;
    margin-bottom: 10px;
  }
  .secondary-info {
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .secondary-info p {
    font-size: 13px;
  }
  .secondary-info a {
    font-size: 13px;
    text-decoration: none;
    color: #4200ff;
  }
}
