.item1 { grid-area: header; 

}
.item1>h2,p{
  text-align: left;
  padding-left: 10px;
}
.item2 { grid-area: menu;

 }
.item3 { grid-area: main;

 }
 .item3>div{
  text-align: left;

 }

.item4 { grid-area: right;
 display: flex;
 justify-content: center;
 }


.gridcontainer {
  display: grid;
  grid-template-areas:
    'menu header header header right right'
    'menu main main main right right'
    'menu main main main right right';
grid-template-columns: 12% 20% 15% 8% 20% 17%;
grid-template-rows: 40% 30% 30%;
  gap: 2px;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  width:clamp(40vw ,70vw ,110vw);
  height: 450px;
  border-radius: 13.03px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;

}

.gridcontainer > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.img {
  display: flex;
  justify-content: start;
}
.img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid grey;

}


.rating {
  text-align: left;
}

.imgColor1{
  color: #4200ff;
  margin-right: 10px;
  margin-top: 20px;
}
.info2{
  font-size: 20px;
}

.gridcontainer:hover{
  cursor: pointer;
  background-color: #fffaf1;
}