/* table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  top: -720px !important;
}

th,
td {
  padding: 4px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.buttoncontainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.buttoncontainer button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.tablecontainer {
  border: 1px solid black;
  padding: 1rem;
  max-height: 10rem;
  overflow-y: auto;
}

.box {
  width: 650px;
  height: 300px;
  background-color: #fff;
  /* border: 1px solid #ccc; */

/* padding: 20px;
  border-radius: 14px;
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn {
  left: 120px;
} */

.tablewrapper {
  position: absolute;
  width: 65%;
  margin-top: 60px;
  margin-left: 250px;
}

.table {
  display: block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: separate;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  white-space: nowrap;
  width: 100em;
  max-width: 80%;
  margin: auto;
  table-layout: auto;
  overflow-x: auto;
  background-color: #ffffff;
  color: #4200ff;
  border-spacing: 0 7px;
}

.table thead {
  background-color: white;
  color: #909090;
}

.table th,
.table td {
  padding: 1rem;
}

.table td {
  border-top: 0.5px solid white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background-color: white;
}
.expand {
  width: 100%;
}

.uptxt {
  text-align: left;
  margin-left: 30px;
  color: #4e4e4e;
}
.seeMoreButton {
  margin-top: 20px;
  margin-left: 650px;
  color: #404040;
  background-color: 0 3px 10px rgb(0 0 0 / 0.2);
}

a {
  text-decoration: none;
}

